<h1>商品登録</h1>

<%= form_for :post , url: projects_path do |go|%>

<p>
    <%= go.label :title %><br>
    <%= go.text_field :title %><br><br>
    <%= go.label :pict_path %><br>
    <%= go.text_field :pict_path %><br><br>
    <%= go.label :price %><br>
    <%= go.text_field :price %><br><br>
    <% if @project.errors.any? %>
    <%= @project.errors.messages[:title][0] %>
    <% end %>
</p>
<p>
    <%= go.submit %>
</p>
<% end %>
