<h1>Add New</h1>

<%= form_for @project do |go| %>

<p>
    <%= go.label :title %><br>
    <%= go.text_field :title %><br><br>
    <%= go.text_area :content, :size => "20x10" %>
    <% if @project.errors.any? %>
    <%= @project.errors.messages[:title][0] %>
    <% end %>
</p>
<p>
    <%= go.submit %>
</p>
<% end %>
