
<% require 'pp'%>

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<title>後期就活ナビ2017</title>
<meta name="description" content="2017年度後半に活動する新卒学生のための就職情報サイト「後期就活ナビ」。2016年6月〜2017年3月で、採用を継続している企業だけを掲載しているので、選考を受けられる企業を見つけやすくなっています。">
<meta name="keywords" content="就職,採用,新卒採用,新卒,就活,後半就活">

<meta property="og:title" content="後期就活ナビ2017" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://koukisyukatunavi.jp/" />
<meta property="og:image" content="https://koukisyukatunavi.jp/assets/img/navi/kouki_ogpimg.png" />
<meta property="og:site_name" content="後期就活ナビ2017" />
<meta property="og:description" content="2017年度後半に活動する新卒学生のための就職情報サイト「後期就活ナビ」。2016年6月〜2017年3月で、採用を継続している企業だけを掲載しているので、選考を受けられる企業を見つけやすくなっています。" />
<meta property="fb:app_id" content="102054676870348" />
<meta name="twitter:card" content="summary">
<link rel="icon" href="https://koukisyukatunavi.jp/assets/img/navi/favicon.png">
<link rel="apple-touch-icon" href="https://koukisyukatunavi.jp/assets/img/navi/apple-touch-icon.png">
<link type="text/css" rel="stylesheet" href="https://koukisyukatunavi.jp/assets/css/bootstrap/bootstrap.min.css?1471537404" />
<link type="text/css" rel="stylesheet" href="https://koukisyukatunavi.jp/assets/css/style.css?1467814606" />
<link type="text/css" rel="stylesheet" href="https://koukisyukatunavi.jp/assets/css/jquery.bxslider.css?1464959907" />
<link type="text/css" rel="stylesheet" href="/assets/css/validationEngine.jquery.css">
<link type="text/css" rel="stylesheet" href="/assets/css/bootstrap-datepicker3.min.css">
</head>
<body>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 880163570;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/880163570/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<header>
<div class="container">
<div class="clearfix">
<div class="pull-left description">これから頑張る！就活生を応援するナビサイト</div>
<div class="pull-right">
<span class="comment"><a href="https://koukisyukatunavi.jp/about">後期就活ナビとは</a></span>
<span class="comment"><a href="https://koukisyukatunavi.jp/introduction">採用担当者様へ</a></span>
</div>
</div>
<div class="clearfix">
<div class="pull-left">
<h1 style="margin-top: 0"><a href="https://koukisyukatunavi.jp/"><img alt="後期就活ナビ2017" src="https://koukisyukatunavi.jp/assets/img/navi/base/logo.png?1461649316" /></a></h1>
</div>
<div class="pull-right">
<span class="link_login">
<% if session[:session_id].present? then %>
  こんにちは！ 
<a href="https://koukisyukatunavi.jp/login" class="btn btn-green">

  <%= @user.email %>
  さん
<%=  link_to 'ログアウト' , destroy_user_session_path %>
<% else %>
ログイン
<%=  link_to '会員登録' , new_project_path %>

<% end %>
</a>
</span>
<span>

<% if @notice.present? then %>

<% else %>
<% end %>

</span>
</div>
</div>
</div>
</header>
<div class="top-image">
<div class="container">
<div class="row">
<div class="col-xs-7 top_search">
<%= div_tag_if(@project.blank?, "商品がありません。") %>
<h1><%= @project.title %></h1>
<%= image_tag(@project.pict_path) %>
</p>
</p>
</p>
</p>
<ul class="nav nav-tabs">
<li role="presentation" class="active"><a href="#tab_s1" data-toggle="tab">企業を探す</a></li>
<li role="presentation" class="noactive"><a href="#tab_s2" data-toggle="tab">説明会を探す</a></li>
</ul>
<div class="tab-content">
<div class="base-container tab-pane in active" id="tab_s1">
<div class="col-xs-5">
<p class="top_search_head"><img src="/assets/img/navi/base/arrow01.png">条件を指定して探す</p>
<ul class="search-menu-list">
<li onclick="show_search(1)">業界</li>
<li onclick="show_search(2)">職種</li>
<li onclick="show_search(3)">勤務地</li>
</ul>
<input type="submit" class="btn gobutton" form="search_company" value="">
</div>
<div class="col-xs-7">
<%= form_tag("/search", method: "get") do %>
<p class="top_search_head"><img src="/assets/img/navi/base/arrow01.png">キーワードで探す</p>
<div class="sform_keyword">
<div class="form-group">
<%= text_field_tag(:t) %>
<br>
<%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "トイレ・風呂別") %>
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "オートロック") %>
</div>
<div class="form-group">
<input type="hidden" name="type" value="0">
<input type="submit" class="btn gobutton" value="">
</div>
</div>
<% end %>


</div>
</div>
<div class="base-container tab-pane" id="tab_s2">
<div class="col-xs-5">
<p class="top_search_head"><img src="/assets/img/navi/base/arrow01.png">条件を指定して探す</p>
<ul class="search-menu-list">
<li onclick="show_esearch(1)">開催日</li>
<li onclick="show_esearch(2)">業種</li>
<li onclick="show_esearch(3)">開催地</li>
</ul>
<input type="submit" class="btn gobutton" form="search_event" value="">
</div>
<div class="col-xs-7 top_s_event_right">
<a href="https://koukisyukatunavi.jp/searchevent"><img src="https://koukisyukatunavi.jp/assets/img/navi/base/go2.png?1461649315" alt="" /></a>
</div>
</div>
</div>
</div>
<div class="col-xs-5">

<h3>価格：<%= @project.price %>円</h3>
<br>
<h3>残り　２点</h3>
<hr>
  <% @cart.each do |userlist| %>
<h3><%= button_to "カートに追加する", {:controller => :carts, :action => "index", id: userlist.id, item_code: userlist.item_code} %></h3>
  <% end %>
<br>
<div class="top-newcompany-image">
<ul class="bxslider">
<li>
<a href="https://koukisyukatunavi.jp/searchcompany/company/1637">
<img src="/assets/img/navi/company/f9b5f95419903539115fa907d3b8c0ae.jpg">
<div class="top-newcompany-body">
<p class="company_name" style="line-height:1.2;">株式会社セントメディア</p>
<p class="company_copy" style="line-height:1.4;">Believe in your possibility！～根拠なき自信～</p>
</div>
</a>
</li>
<li>
<a href="https://koukisyukatunavi.jp/searchcompany/company/1635">
<img src="/assets/img/navi/company/6e78442d61de67f2792f3b3b1bb909f6.jpg">
<div class="top-newcompany-body">
<p class="company_name" style="line-height:1.2;">アイズテクノロジー株式会社</p>
<p class="company_copy" style="line-height:1.4;">私たちと日本の健康のため、そして笑顔のために仕事をしませんか？</p>
</div>
</a>
</li>
<li>
<a href="https://koukisyukatunavi.jp/searchcompany/company/1634">
<img src="/assets/img/navi/company/93f6fc433963fbdfff77a605a9c0da4f.jpg">
<div class="top-newcompany-body">
<p class="company_name" style="line-height:1.2;">株式会社インタートレード</p>
<p class="company_copy" style="line-height:1.4;">他社の真似はしない。自分たちオリジナルのビジネスで勝負する！！</p>
</div>
</a>
</li>
</ul>
</div>
</div>
</div>
<hr>
<h3>この商品はこんな人が買っています</h3>
<br>
  <% @r.each do |userlist| %>
    <%= link_to userlist.user, projects_user_detail_path ,id: userlist.user_id %>
    :
    <%= add_star %>
    <b><%= userlist.star %></b>
    <%= userlist.review %>
    <br>
  <% end %>
  
<hr>

<h3>よく一緒に注文されている商品</h3>
<hr>
<h3>商品内容</h3>
<%= @descryption.descryption %>
</div>
</div>




